{% extends 'web/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Rule Settings {% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'web/vendor/datatables.net/css/dataTables.bootstrap5.min.css' %}"/>
{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid h-100 position-relative">
        <div class="row h-100">
            <div class="col-12 col">
                <form id="process-items" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div id="setting-rules-container">
                        <div class="setting-rule">
                            <div class="form-group">
                                <label for="data_item_input">Data Item Input</label>
                                <select class="form-select" id="data_item_input" name="data_item_input">
                                    <option value="0">Select Data Item</option>
                                    {% for data_item in data_inputs %}
                                        <option value="{{ data_item.id }}">{{ data_item.index_value }} - {{ data_item.data_item_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="data_item_format_0">Data Item Format</label>
                                <select class="form-select" id="data_item_format" name="data_item_format">
                                    <option value="0">Select Data Item</option>
                                    {% for data_item in data_formats %}
                                        <option value="{{ data_item.id }}">{{ data_item.index_value }} - {{ data_item.data_item_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="rule_name">Rule Name</label>
                                <select class="form-select" id="rule_name" name="rule_name">
                                    <option value="0">Select Rule</option>
                                    {% for rule in rules %}
                                        <option value="{{ rule.id }}">{{ rule.convert_rule_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Submit</button>
                </form>

                <div id="response-container" class="mt-4">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="{% static 'web/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.alert-dismissible').each(function() {
                createToast($(this).find('.message-tag').text(), $(this).find('.message').text());
                $(this).remove();
            });
        })
    </script>
{% endblock javascripts %}
