{% extends 'web/layouts/base.html' %}

{% block title %} ログイン {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt-8 pb-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent">
                        <div class="text-muted text-center mt-2">
                            <h1 class="w-100 text-center font-weight-bold"> 予約情報一括変換サービス </h1>
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <form method="POST">

                            {% csrf_token %}

                            <div class="form-group mb-3">
                                <div class="form-check-label text-gray">ユーザーID</div>
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                                    </div>
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check-label text-gray">パスワード</div>
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    {{ form.password }}
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4 pl-5 pr-5">ログイン</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.alert-dismissible').each(function () {
                createToast($(this).find('.message-tag').text(), $(this).find('.message').text());
                $(this).remove();
            });
        })
    </script>
{% endblock javascripts %}
