{% extends 'web/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-1">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">ホームページ</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        {% if not request.user.is_authenticated %}
            <div class="wrapper demo-wrapper">
                <div class="typing-demo">
                  予約情報一括変換サービス
                </div>
            </div>
        {% else %}
        {% endif %}
        {% include "web/includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="{% static 'web/vendor/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'web/vendor/chart.js/dist/Chart.extension.js' %}"></script>

{% endblock javascripts %}
